<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-parqueadero text-center">
    <h2 class="tituloCeiba" id="tituloCeiba">
        {{title}}
    </h2>
    <img class="img-responsive logoCeibaHome" src="./assets/images/logoCeiba.png" >
</div>
<br/>
<div class="container-fluid">
    <div class="row">
        <app-trm class="col-12 text-center"></app-trm>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm">
            <app-ingresar-vehiculo (header)="recargarListadoParqueos($event)"></app-ingresar-vehiculo>
        </div>
        <div class="col-sm">
            <app-listado-vehiculos [recargarListado]="mensaje"></app-listado-vehiculos>
        </div>
    </div>
</div>