<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-parqueadero">
    <a class="navbar-brand" href="#">
        <fa-icon icon="flag-checkered"></fa-icon>
        {{title}}
    </a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <app-ingresar-vehiculo></app-ingresar-vehiculo>
        </div>
        <div class="col-sm">
            <h3>Listado de Vehículos Estacionados</h3>
        </div>
    </div>
</div>
