/* You can add global styles to this file, and also import other style files */
body, html {
    font-family: "lato", sans-serif;
}

.bg-parqueadero
{
    background-color: yellow;
    color: black;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-tipo-vehiculo
{
    color: black;
    background-color: yellow;
    border-color: yellow;
}

.btn-tipo-vehiculo:active,
.btn-tipo-vehiculo.active,
.btn-tipo-vehiculo:hover
{
    color: yellow;
    background-color: black;
    border-color: black;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 10px solid #ffc107;
  }
  
.ng-invalid:not(form)  {
    border-left: 10px solid #a94442;
}

.errores-input
{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.btn-ingresar-vehiculo
{
    color: black;
    background-color: yellow;
}

.btn-ingresar-vehiculo:hover
{
    color: yellow;
    background-color: black;
}

.btn-ingresar-vehiculo:disabled
{
    color: #6c757d;
    background-color: #ffffa0;
    background-image: none;
}

.circle-icon {
    color: black;
    background-color: yellow;
    border-radius: 50% !important;
}

.circle-icon:hover {
    color: yellow;
    background-color: black;
    border-radius: 50% !important;
}

.separador{
    margin-top: 2rem;
}

.btn-group-toggle
{
    padding: 0 !important;
}

.checkMoto
{
    border-right: 2px solid black !important;
}

.modal-error > .modal-header
{
    background: #a94442;
    color: white;
}

.modal-success > .modal-header
{
    background: yellow;
    color: black;
}